@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

body {
    margin: 0; 
}
.container{
    width: 100%;
    margin: 20px auto;
    background-color: #ffffff;
    border: 0px solid #ddd;
    margin-top: -2px;
}
.backbox1{
    background-color: rgb(17, 14, 27);
    display: flex;
    width: 100%;
}

.allbox{
    background-color: rgb(216, 216, 216);
    display: flex;
    width: 70%;
    margin-top: 13px;
    margin-left: 50px;
    padding: 10px;
    border-radius:  5px 0px 0px 5px;
    font-size: 15px;
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    font-style: static;
}
.searchbox{
    background-color: rgb(255, 255, 255);
    display: flex;
    padding: 10px;
    font-size: 15px;
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    font-style: static;
    width: 400%;
    margin-top: 11px;
    margin-left: 40px;
}
.searchbar{
    background-color: rgb(255, 171, 101);
    display: flex;
    padding: 9.5px;
    font-size: 16px;
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    font-style: static;
    width: 8%;
    margin-top: 12px;
    margin-left: 500px;
    border-radius:  0px 5px 5px 0px;
}
.backbox1 img{
    width: 90px;
    height: 30px;
    padding: 20px 10px 10px 20px;
}
.backbox1 svg{
    margin-left: 15px;
}
.delivery{
    color: white;
    font-size: 14px;
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    font-style: static;
}
.langEN{
    font-size: 17px;
    color: white;
    padding: 0 0 0 40px;
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    font-style: static;
    margin-bottom: 0;
    margin-top: 0;
}
.langsignin{
    font-size: 13px;
    color: rgb(224, 221, 221);
    padding: 0 0 0 40px;
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    font-style: static;
    line-height: 1.2; 
    margin-bottom: 0; 
    text-align: left;
}

.langacc{
    font-size: 15px;
    color: rgb(255, 255, 255);
    padding: 0 0 0 30px;
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    font-style: static;
    line-height: 1.2; 
    margin-top: 0; 
    text-align: left;
}
.cart{
    background-color: white;
    margin-left: 300px;
}
.backbox2{
    background-color: rgb(42, 46, 71);
    display: flex;
    width: 100%;
    align-items: center;
    height: 40px;
}
.backbox3{
    background-color: rgb(226, 226, 226);
    display: flex;
    width: 100%;
    align-items: center;
    height: 40px;
    border-radius:  0px 5px 5px 0px;
    border-color: rgb(27, 27, 27);
    border-width: 2px;
    margin-top: -20px;
}
.menu-icon {
    width: 50px;
    cursor: pointer;
    display: inline-block;
    margin-right: 10px; 
    padding: 0 0 0 20px; 
}

.menu-icon div {
    width: 50%;
    height: 3px;
    background-color: #ffffff; 
    margin: 6px 0;
    border-radius: 2px;
   
}

.menu-icon:hover div {
    background-color: #ff9900;
}

.allmenu {
    color: white;
    font-size: 17px;
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    font-style: bold;
    margin-left: -29px;
}
.menutext{
    color: white;
    font-size: 15px;
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    padding: 0 0 0 15px;
}

.bookimg{
    display: block;
    height: auto;
    mask-image: linear-gradient(to top, rgba(0, 0, 0, -2) -10%, rgba(0, 0, 0,3) 100%);
    mask-size: cover;
    mask-repeat: no-repeat;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    margin-top: 108px;
}
.tabling {
    width: 100%;
    position: relative;
    padding: 10px;
    margin-top: 250px;
    border-spacing: 30px;
}

.tdata {
    text-align: center;
    position: relative;
    padding: 10px;
    background: rgba(255, 255, 255, 0.8); 
    width: 100px;
    margin: 0 auto;
    z-index: 2;
    
}
.tabled{
    text-align: center;
    position: relative;
    padding: 10px;
    background: rgba(255, 255, 255, 0.8); 
    width: 80px;
    margin: 0 auto;
    z-index: 2;
}
.tdata img {
    width: 100px;
    height: 95px;
    margin: 10px;
    display: inline-block;
}
.tabled img {
    width: 80px;
    height: 75px;
    margin: 10px;
    display: inline-block;
}
.header {
    font-size: 20px;
    margin-top: 15px;
    margin-bottom: 15px;
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    text-align: left;
}
.cap{
    text-align: left;
    font-size: 15px;
}
.small-text {
    display: block;
    font-size: 15px;
    color: blue;
    margin-top: 7px;
    text-align: left;

}
.greybac{
    display: block;
    height: auto;
    mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.1) -10%, rgba(0, 0, 0, 1) 100%);
    mask-size: cover;
    mask-repeat: no-repeat;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    margin-top: 108px;
}

.tdata img, .tabled img, .tdat img  {
    width: 100%; 
    height: auto; 
    object-fit: cover; 
}
.tdata, .tabled, .tdat {
    width: 250px; 
    height: 300px; 
    vertical-align: top; 
}
.tabled{
    text-align: center;
    position: relative;
    padding: 10px;
    background: rgba(255, 255, 255, 0.8); 
    width: 80px;
    margin: 0 auto;
    z-index: 2;
}
.tdata img {
    width: 100px;
    height: 95px;
    margin: 10px;
    display: inline-block;
}
.tabled img {
    width: 80px;
    height: 75px;
    margin: 10px;
    display: inline-block;
}

.header {
    font-size: 20px;
    margin-top: 15px;
    margin-bottom: 15px;
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    text-align: left;
}

.cap{
    text-align: left;
    font-size: 15px;
}
.small-text {
    display: block;
    font-size: 15px;
    color: blue;
    margin-top: 7px;

}
.best {
    text-align: left;
    position: relative;
    padding: 20px;
    background: rgba(255, 255, 255, 0.8); 
    width: 100px;
    margin: 0 auto;
    z-index: 2;
    
}
.best img {
    width: 210px;
    height: 230px;
    margin: 10px;
    display: inline-block;
    padding-left: 30px;
}
.tablin {
    width: 100%;
    position: relative;
    padding: 10px;
    margin-top: -15px;
    border-spacing: 30px;
    
}
.backbox3 {
    width: 100%;
}


.headsettext {
    text-align: center; 
    padding: 20px; 
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    font-size: 13px;
}
.image-table {
    width: 100%;
    border-collapse: collapse;
}

.image-table tr {
    display: flex;
    flex-direction: row; 
}

.round-image-container {
    width: 200px;
    height: 200px;
    border-radius: 55%;
    background-color: #e2e1e1;
    display: flex;
    overflow: hidden;
    margin: 20px ; 
    margin-left: 150px;
}

.round-image {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
}

.image-table td {
    padding: -15px 0; 
}
.product-table {
    width: 300px;
    height: 270px;
    border: 1px solid #ddd;
    text-align: center;
    margin: 50px ;
    margin-left: 70px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-spacing: 0;
    margin-left: 150px;
    

}

.image-cel {
    padding: 20px;
    object-fit: cover;
}

.product-image {
    width: 70%;
    height: 70%;
}
.product-imag {
    width: 80%;
    height: 80%;
}
.product-ima {
    width: 76%;
    height:  76%;
}
.product-im {
    width: 65.5%;
    height:  65.5%;
}
.product-i {
    width: 77%;
    height: 77%;
}
.product-name {
    font-size: 16px;
    color: #333;
    padding: 10px;
    text-align: left;
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    background-color: #eeeeee;
}

.heade {
    font-size: 30px;
    margin-top: 15px;
    margin-bottom: 15px;
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    text-align: left;
    padding: 30px;
}
.round-image-th{
    font-size: 18px;
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    padding: 10px 10px 10px 50px;
    margin: 20px;
    margin-left: 150px;
    font-style: bold;
}
.product-nam {
    font-size: 13px;
    color: #333;
    padding: 10px;
    text-align: left;
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    background-color: #eeeeee;
    text-decoration: line-through;
    margin-top: -10px;
}
.product-na {
    font-size: 14px;
    color: #333;
    padding: 10px;
    text-align: left;
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    background-color: #eeeeee;
}

.bi-star-fill {
    fill: #df7e00;
    background-color: #eeeeee;
    text-align: left;
    display: flex; 
    gap: - 15px; 
    padding: 1px; 
}

.bi-star-fill svg {
    width: 13px;
    height: 13px;
    margin: 0; 
    stroke: #df7e00;
    stroke-width: 0.7px;
    line-height: 1.8;
    display: block; 
    margin-left: 7px;
}
.rating{
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: rgb(47, 125, 170);
    margin-left: 7px;
    margin-top: -1px;
}
.image-ce {
    padding: 20px;
    margin-left: 200px;
}
.product-tabl {
    width: 300px;
    height: 270px;
    border: 1px solid #ddd;
    text-align: center;
    margin: 50px ;
    margin-left: -30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-spacing: 0;
    row-gap: 5px;
}

.product-imag {
    width: 100%;
    height: 90%;
}

.product-name {
    font-size: 16px;
    color: #333;
    padding: 10px;
    text-align: left;
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    background-color: #eeeeee;
}

.heade {
    font-size: 30px;
    margin-top: 15px;
    margin-bottom: 15px;
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    text-align: left;
    padding: 30px;
}

.product-nam {
    font-size: 13px;
    color: #333;
    padding: 10px;
    text-align: left;
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    background-color: #eeeeee;
    text-decoration: line-through;
    margin-top: -10px;
}
.product-na {
    font-size: 14px;
    color: #333;
    padding: 10px;
    text-align: left;
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    background-color: #eeeeee;
}

.bi-star-fill {
    fill: #df7e00;
    background-color: #eeeeee;
    text-align: left;
    display: flex; 
    gap: - 15px; 
    padding: 1px; 
}

.bi-star-fill svg {
    width: 13px;
    height: 13px;
    margin: 0; 
    stroke: #df7e00;
    stroke-width: 0.7px;
    line-height: 1.8;
    display: block; 
    margin-left: 7px;
}
.rating{
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: rgb(47, 125, 170);
    margin-left: 7px;
    margin-top: -1px;
}
.product-container {
    display: flex;
  }

   

  
 
  

  
 
  